DOMAIN_NAME=mdekker.42.fr
-----
DB_HOST=mariadb
DB_USER=user
DB_PASSWORD=password
DB_NAME=wordpress
-----
DB_ROOT_PASSWORD=password
-----
WP_ADMIN_EMAIL=lithiumox@wp.com
WP_ADMIN_USER=lithiumox
WP_ADMIN_PASSWORD=adminpassword
-----
WP_USER_EMAIL=lithium@wp.com
WP_USER_NAME=lithium
WP_USER_PASSWORD=wpuserpass
WP_USER_ROLE=editor
